[*.{cs,vb}]

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none

# CA2211: Non-constant fields should not be visible
dotnet_diagnostic.CA2211.severity = silent

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = silent

# VSSpell001: Spell Check
dotnet_diagnostic.VSSpell001.severity = none
