.vs/*
obj/*
bin/*
Thumbs.db
.vs/Origins/v15/*
.vs/
*.ide-wal
*.ide-shm
*.ide
.vs/Origins/v15/.suo
.vs/Origins/DesignTimeBuild/.dtbcache
.vs/Origins/v15/.suo
*.ide-wal
.vs/Origins/DesignTimeBuild/.dtbcache
.vs/Origins/v15/.suo
*.ide
*.ide-shm
Old_Sprites\*
*.ide-wal
*.ide-shm
Items/Armor/Felnum/Charged
Items/Armor/Vanity/Terlet/PlagueCowboy(Old)
*.csproj.user
*.sln
